/* Override this file to customise the theme's CSS for your site */

.page {
    grid-template-areas:
      "header"
      "langswitch"
      "body"
      "aside"
      "footer";
}

@media (min-width: 45rem) {
    .page {
        grid-template-areas:
          "header      header"
          "langswitch  langswitch"
          "body        aside"
          "footer      footer";
    }
}

.page__lang-switcher {
    grid-area: langswitch;
}
