<p>
    {{ $siteLanguages := .Site.Languages }}
    {{ $pageLang := .Page.Lang }}
    {{ $parts := slice }}

    {{ range .Page.AllTranslations }}
      {{ $translation := .}}
      {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
            {{ if eq $pageLang .Lang }}
                {{ $parts = $parts | append (printf "<span class=\"active\">%s</span>" .Label) }}
            {{ else }}
                {{ $parts = $parts | append (printf "<a href=\"%s\">%s</a>" $translation.Permalink .Label) }}
            {{ end }}
          {{ end }}
      {{ end }}
    {{ end }}

    {{ delimit $parts "｜" | safeHTML }}
</p>
